name: PR Tests & Coverage
on:
  pull_request:
    types: [opened, synchronize, reopened]

jobs:
  test:
    name: Tests with Code Coverage
    runs-on: ubuntu-latest
    permissions:
      contents: read
      pull-requests: write
    defaults:
      run:
        shell: pwsh
    steps:
      - uses: actions/checkout@v4

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: 8.0.x

      - name: Restore
        run: dotnet restore

      - name: Build
        run: dotnet build --no-restore

      - name: Test with coverage
        run: |
          dotnet test --no-build `
            /p:CollectCoverage=true `
            /p:CoverletOutput=TestResults/ `
            /p:CoverletOutputFormat=cobertura

      - name: ReportGenerator
        uses: danielpalme/ReportGenerator-GitHub-Action@5.5.1
        with:
          targetdir: 'TestResults'
          reports: 'cobertura.xml' #REQUIRED # The coverage reports that should be parsed (separated by semicolon). Globbing is supported.
          reporttypes: 'Cobertura' # The output formats and scope (separated by semicolon) Values: Badges, Clover, Cobertura, OpenCover, CsvSummary, Html, Html_Dark, Html_Light, Html_BlueRed, HtmlChart, HtmlInline, HtmlInline_AzurePipelines, HtmlInline_AzurePipelines_Dark, HtmlInline_AzurePipelines_Light, HtmlSummary, Html_BlueRed_Summary, JsonSummary, CodeClimate, Latex, LatexSummary, lcov, Markdown, MarkdownSummary, MarkdownAssembliesSummary, MarkdownSummaryGithub, MarkdownDeltaSummary, MHtml, SvgChart, SonarQube, TeamCitySummary, TextSummary, TextDeltaSummary, Xml, XmlSummary
          tag: '${{ github.run_number }}_${{ github.run_id }}' # Optional tag or build version.

      - name: Upload coverage report artifact
        uses: actions/upload-artifact@v4
        with:
          name: CoverageReport # Artifact name        
          path: TestResults # Directory containing files to upload

      - name: Publish coverage summary
        shell: pwsh
        run: |
          Get-Content coveragereport/SummaryGithub.md | Add-Content $env:GITHUB_STEP_SUMMARY
